// COLORS

// blue1
// $primary-color: #8babc6;
// $secondary-color: #4f7aa0;
// blue2
$primary-color: #bbc7d2;
// $primary-color: #cad7e3;
$secondary-color: #4f7aa0;
// blue3
// $primary-color: #7dc1fd;
// $secondary-color: #5c8db9;
// blue4
// $primary-color: #cad7e3;
// $secondary-color: #5881a5;

// green
// $primary-color: #AFC695;
// $secondary-color: #61803F;

$white-color: #fff;

$dark-grey: #333333;
$light-grey: #d2d2d2;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
